#ofis-results {
    position:relative;
    text-align: left;
    margin-top:1em;
}

#ofis-results .waiting {
    position:absolute;
    display: none;
    text-align: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.5);
    font-size:2em;
}

#ofis-results .fa-spinner {
    animation:1.5s linear 0s normal none infinite;
    animation-name:spin;
    display:block;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#ofis-results .expert {
    border-bottom:1px solid #d8d8d8;
    padding:1em 0 1em;
}

#ofis-results .expert:last-child {
    border-bottom:0;
}
#ofis-results .research-interests.hidden {
    display: none;
}

#ofis-results .expand {
    cursor:pointer;
}

#ofis-results .research-interests p {
    margin-bottom: 0;
}

#ofis-results .research-interests ul {
    margin:0;
    padding:0 0 1em 0;
    display: block;
    text-transform:capitalize;
}

#ofis-results .research-interests ul:after {
    content:"";
    clear:both;
    display:block;
}

#ofis-results .research-interests ul li {
    list-style: none;
    width:50%;
    float:left;
}

#ofis-results .more .button {
    text-decoration: none;
    width:auto;
    font-size:1em;
    padding:0.6em 1em;
}

#ofis-results .more .button:hover {
    color:#fff;
}

@media screen and (max-width: 800px) {
    #ofis-results .research-interests ul li {
        width:100%;
    }
}
